<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sketchbook</title>
</head>
<body>
   <h1>Hello sketchbook</h1> 
   <% routes.forEach(function(route) { %>
       <a href="/<%= route.name %>.html"><%= route.name%></a>
   <%}); %>
</body>
</html>